{% extends "base.html" %}
{% block content %}
  <h1>Mine saker</h1>

  <div class="card">
    <h2>Opprett ny sak</h2>
    <form method="post">
      <label>Tittel</label>
      <input type="text" name="title" required />

      <label>Beskrivelse</label>
      <textarea name="desc" rows="5" required></textarea>

      <label>Kategori</label>
      <select name="category" required>
        <option>Feide</option>
        <option>Wi-Fi</option>
        <option>Utskrift</option>
        <option>Passord</option>
        <option selected>Annet</option>
      </select>

      <label>Prioritet</label>
      <select name="priority" required>
        <option>Lav</option>
        <option selected>Middels</option>
        <option>Høy</option>
      </select>

      <label>Enhet/Programvare</label>
      <input
        type="text"
        name="device"
        placeholder="F.eks. Mac + Safari / Windows + Chrome"
        required
      />

      <button type="submit">Opprett sak</button>
    </form>
  </div>

  {% if tickets|length == 0 %}
    <p class="muted">Du har ingen saker enda.</p>
  {% endif %}

  {% for t in tickets %}
    <div class="card">
      <strong>{{ t.title }}</strong>
      <p>{{ t.desc }}</p>

      <p>
        <strong>Kategori:</strong> {{ t.category }} |
        <strong>Prioritet:</strong> {{ t.priority }}
      </p>
      <p><strong>Enhet:</strong> {{ t.device }}</p>
      <p>
        <strong>Status:</strong> {{ t.status }} |
        <strong>Opprettet:</strong> {{ t.created_at }}
      </p>

      {% if role == "support" and t.status != "closed" %}
        <form method="post" action="{{ url_for('main.close_ticket_view', ticket_id=t.id) }}">
          <button type="submit">Lukk sak</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}